:root {
	/* FIRST SET
	--primary: #ff006e;
	--secondary: #ffbe0b;
	--accent: #fb5607;
	/*/
	--primary: #8338ec;
	--secondary: #c4fcf1;
	--accent: #009aff;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Dosis', cursive;
	color: var(--secondary);
}
/* REMOVE ARROWS BUTTON FROM INPUT 
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

html {
	font-size: 32px;
}

body {
	background-color: var(--primary);
}

h2 {
	text-shadow: 3px 3px var(--accent);
}

button {
	font-size: 1rem;
	background-color: var(--accent);
	border: 2px solid var(--secondary);
	border-radius: 14px;
	margin: 0.25rem;
	padding: 0.1rem;

	transition: scale 0.1s;
}

button:hover {
	opacity: 0.3;
}

button:active:enabled {
	scale: 90%;
}

input {
	font-size: 1rem;
	width: 16%;
	height: 1em;
	background-color: var(--accent);

	text-align: center;
	border: 2px solid var(--secondary);
	border-radius: 12px;
	margin: 0.3em;
}

.center {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

main {
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

main button {
	font-size: 0.75em;
	width: 1.6em;
	height: 1.6em;
}

main input {
	font-size: 1em;
	height: 2em;
	width: 1.8em;
	text-shadow: 3px 3px var(--primary);
}

main h2 {
	margin-left: 0.3em;
}

.column {
	display: flex;
	flex-direction: column;
}

.inline {
	display: flex;
	justify-content: center;
	align-items: center;
}
.shadow {
	box-shadow: 5px 5px 9px rgb(33, 33, 33);
}

.box {
	background-color: var(--accent);
	border: 2px solid var(--secondary);
	border-radius: 12px;
	padding: 0.3em;
}

#games {
	transition: all 1s ease;
}
